*.go
*.log
*.tar.xz
*.tmp
*~
,*
.#*
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/ihs/config.scm
/install-sh
/missing
/pre-inst-env
/scripts/ihs
/tests/*.trs
\#*\#
